.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.character-actions {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.pagination-information {
  margin: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
